.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.wrapper {
    display: flex;
    align-items: center;
}

.logo, .change_theme {
    margin-right: 15px;

    & svg {
        width: 70px;
        height: 70px;
    }
}

.title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    color: #9876ec;
}